.home__container {
  display: flex;
  grid-gap: 20px;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: baseline;
}

.home__item {
  text-align: center;
  font-size: 30px;
  margin: 1rem 1rem 1rem 1rem;
}

.home__box select {
  background-color: #8367d3;
  color: #fff;
  padding: 5px;
  width: 80px;
  border: none;
  border-radius: 0.4rem;
  font-size: 11px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.home__box::before {
  width: 20%;
  height: 80%;
  text-align: center;
  font-size: 8px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.home__box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.home__box select option {
  padding: 10px;
}

.home__reset {
  display: inline-block;
  background-color: hsl(0, 0%, 8%);
  color: #fff;
  border: none;
  font-size: 0.85rem;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 680px) {
  .home__container {
    grid-gap: 0px;
  }
}
